
@model SessionEventDetails
@{ 
    int tenant = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.RouteValues["tenant"]);
}
@Html.Partial("_ModalHeader", new ModalHeader { Heading = Model.SessionName })

<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <span>@Model.StartDate.ToString("dd MMM") |@Model.StartDate.ToString("hh:mm tt") to @Model.EndDate.ToString("hh:mm tt") </span>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12 col-sm-12">
            <div class="col-md-3">Attendees</div>
            <div class="col-md-3">@Model.Confirmed Confirmed</div>
            <div class="col-md-3">@Model.Rejected Rejected</div>
            <div class="col-md-3">@Model.Pending Pending</div>
        </div>

        <div class="col-lg-12 col-sm-12">
            <div class="col-md-4"> <a href="javascript:void(0);" class="session-attend @(Model.IsCoordinator?"group-chat-start":string.Empty)"  data-meet="@Model.GMeetUrl" data-during="/@tenant/PostSession/index?sessionId=@Model.SessionId&start=@Model.StartDate.ToString("MM/dd/yyyy HH:mm")&end=@Model.EndDate.ToString("MM/dd/yyyy HH:mm")" data-chatstart="/@tenant/Session/StartChat?sessionId=@Model.SessionId&start=@(Model.StartDate.ToString("MM/dd/yyyy HH:mm"))&end=@(Model.EndDate.ToString("MM/dd/yyyy HH:mm"))">ATTEND</a> </div>
            <div class="col-md-4"> <a href="/@tenant/SessionSchedule/agenda?sessionId=@Model.SessionId&start=@Model.StartDate.ToString("MM/dd/yyyy HH:mm")&end=@Model.EndDate.ToString("MM/dd/yyyy HH:mm")">AGENDA</a> </div>
            <div class="col-md-4"> <a href="javascript:void(0);">POLL</a> </div>

        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <span>Session Coordinator: @Model.Coordinator </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <span>Session Manager: @Model.Manager </span>
        </div>
    </div>
</div>



