@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using static Aaina.Web.Code.LIBS.NavigationIndicatorHelper;
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@User.Identity.Name</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            @*<li class="treeview @Url.MakeActiveClass("Home","inxed")">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Dashboards</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>

                </li>*@
            <li class="@Url.MakeActiveClass("account","ChangePassword")"><a href="/superadmin/account/ChangePassword"><i class="fa fa-circle-o"></i> ChangePassword</a></li>
            <li class="@Url.MakeActiveClass("account","Profile")"><a href="/superadmin/account/Profile"><i class="fa fa-circle-o"></i> Profile</a></li>
            <li class="@Url.MakeActiveClass("company","index")"><a href="/superadmin/company/index"><i class="fa fa-circle-o"></i> Company</a></li>
            <li class="@Url.MakeActiveClass("Admin","index")"><a href="/superadmin/Admin/index"><i class="fa fa-circle-o"></i> Admin</a></li>



        </ul>
    </section>
    <!-- /.sidebar -->
</aside>