@model GameDto
@using Aaina.Common;
@using Newtonsoft.Json;
@{
    List<GameMenuDto> playerChart = new List<GameMenuDto>();
    playerChart.Add(new GameMenuDto() { Id = -1, Name = Model.Id.HasValue ? Model.Name : "New Game", ParentId = 0 });
    playerChart.AddRange(Model.RoleList.Select(s => new GameMenuDto() { Id = int.Parse(s.Id), Name = s.Name, ParentId = -1 }));
    int tenant = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.RouteValues["tenant"]);
    int maxRoleId = (Model.RoleList.Any() ? Model.RoleList.Max(x => int.Parse(x.Id)) : 0) + 100;

    if (Model.Id.HasValue)
        playerChart.AddRange(Model.GamePlayers.Select(s => new GameMenuDto() { Id = maxRoleId + s.UserId, Name = Model.UserList.FirstOrDefault(a => int.Parse(a.Id) == s.UserId).Name, ParentId = s.RoleId }));
    else if (Model.GamePlayers.Any())
        playerChart.AddRange(Model.GamePlayers.Select(s => new GameMenuDto() { Id = maxRoleId + s.UserId, Name = Model.UserList.Any(a => int.Parse(a.Id) == s.UserId) ? Model.UserList.FirstOrDefault(a => int.Parse(a.Id) == s.UserId).Name : string.Empty, ParentId = s.RoleId }));
}


<script>
    function set(value) {
        return value;
    }
    var gamedata = '@Model.AllForChart' == null ? "" : set(@Html.Raw(JsonConvert.SerializeObject(Model.AllForChart.Select(x=> new { id=x.Id,name=x.Name, parent=x.ParentId}).ToList())));
    var playerdata = '@playerChart' == null ? "" : set(@Html.Raw(JsonConvert.SerializeObject(playerChart.Select(x=> new { id=x.Id,name=x.Name, parent=x.ParentId}).ToList())));
        var roleListarr = '@Model.RoleList' == null ? "" : set(@Html.Raw(JsonConvert.SerializeObject(Model.RoleList)));
    var maxuserId = set(@Html.Raw(JsonConvert.SerializeObject(maxRoleId)));
        var gameLocationarr = '@Model.GameLocation' == null ? "" : set(@Html.Raw(JsonConvert.SerializeObject(Model.GameLocation)));
</script>
<link href="~/plugins/Org-Chart/jquery.orgchart.css" rel="stylesheet" />
<link href="~/css/Stepwizard.css" rel="stylesheet" />


<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                <li>Add Game</li>
                <li>/</li>
                <li><b>Basic Info</b></li>
            </ul>
        </div>
    </div>
</div>
<div id="frm-add-edit-game">
    <form asp-action="add" asp-controller="game" asp-area="" asp-route-tenant="@tenant" method="post" autocomplete="off">
        <div id="validation-summary"></div>
        <input type="hidden" asp-for="Id" />
        @*<input type="hidden" asp-for="ParentId" />*@
        <div class="middlebox">
            <div class="tablediv tablediv1 tabledivbtn">
                <div class="stepbox">
                    <ul class="nav nav-tabs responsive-tabs">
                        <li class="active"><a href="#basicinfo" data-id="basicinfo"><span>1</span> Basic Info</a></li>
                        <li><a href="#basicmorinfo123" data-id="basicmorinfo123"><span>2</span> More Info</a></li>
                        <li><a href="#playersroles" data-id="playersroles"><span>3</span> Players & Roles</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="basicinfo">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                    <label><i class="fa fa-info-circle"></i> Game</label>
                                                    <input type="text" asp-for="Name" class="form-control mb15" placeholder="Resources" />
                                                    <span asp-validation-for="Name" class="field-validation-error"></span>
                                                    <textarea asp-for="Desciption" class="form-control" placeholder="Description"></textarea>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="col-lg-4 col-sm-12">
                                                <div class="form-group">
                                                    <label>Parent Game</label>
                                                    <select asp-for="ParentId" data-action="@(Model.Id.HasValue?"Edit/"+Model.Id:"Add")" class="form-control" asp-items="@(new SelectList(Model.ParentList,"Id","Name"))"> <option value="">Select Parent Game</option> </select>
                                                    <span asp-validation-for="ParentId" class="field-validation-error"></span>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-sm-12">
                                                <div class="form-group">
                                                    <label>Game Weightage</label>
                                                    <input type="number" asp-for="Weightage" class="form-control" placeholder="Weightage" />
                                                    <span asp-validation-for="Weightage" class="field-validation-error"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-12">
                                                <div class="form-group">
                                                    <label style="margin-top:25px;">
                                                        <input type="checkbox" asp-for="IsActive" />
                                                        Is Active
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">

                                                <div class="step1">
                                                    <table class="table" id="tbl_game">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">S.No</th>
                                                                <th scope="col">Name</th>
                                                                <th scope="col">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.AllGame.Any())
                                                            {
                                                                int index = 1;
                                                                foreach (var item in Model.AllGame)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @index
                                                                        </td>
                                                                        <td>
                                                                            @item.Name
                                                                        </td>
                                                                        <td>
                                                                            @if (CurrentUser.RoleId == (int)UserType.Admin)
                                                                            {
                                                                                <a href="/@tenant/game/Edit/@item.Id?parentId=@item.ParentId"><i class="fa fa-pencil-square-o mtx"></i></a>
                                                                            }

                                                                        </td>
                                                                    </tr>
                                                                    index++;

                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td colspan="3">Game not found</td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                    <div id="gameorgChart" style="display:none;"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="basicmorinfo123">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="row">

                                            <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                    <label><i class="fa fa-info-circle"></i> Game Duration</label>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-sm-12">
                                                            <input type="text" asp-for="FromDate" class="form-control datepicker" />
                                                            <span asp-validation-for="FromDate" class="field-validation-error"></span>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-12">
                                                            <input type="text" asp-for="Todate" class="form-control datepicker" />
                                                            <span asp-validation-for="Todate" class="field-validation-error"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                    <label><i class="fa fa-info-circle"></i> Client Name</label>
                                                    <input asp-for="ClientName" class="form-control" type="text" placeholder="Hindustan Zinc Limited">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                    <label><i class="fa fa-info-circle"></i> Contact Person</label>
                                                    <input asp-for="ContactPerson" class="form-control" type="text" placeholder="">
                                                    <a href="javascript:void(0);" class="iset"><i class="fa  fa-search"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="form-group">
                                                    <label><i class="fa fa-info-circle"></i> Contact Number</label>
                                                    <input asp-for="ContactNumber" class="form-control" type="text" placeholder="">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Location</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <!-- ko if:gameLocationListarr().length > 0 -->
                                                <tbody data-bind="foreach: gameLocationListarr">
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" data-bind="value:location,attr:{name:'GameLocation'}" data-msg-required="*required" data-rule-required="true" />
                                                            <span class="field-validation-error field-validation-valid" data-bind="attr:{'data-valmsg-for':'GameLocation'}" data-valmsg-replace="true"></span>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-success" data-bind='click:$root.remove'>Remove</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <!-- /ko -->
                                            </table>
                                            <div class="pull-left">
                                                <button type="button" class="btn btn-success" data-bind='click: add'>Add</button>
                                            </div>
                                        </div>

                                    </div>

                                    
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="step1 sele-r-right" style="overflow:auto;">
                                                    <div id="gamemoreorgChart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="playersroles">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        
                                                <div class="table-responsive">
                                                    <table class="table" id="tbl_user">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Sr. No.</th>
                                                                <th scope="col">Players</th>
                                                                <th scope="col">Type</th>
                                                                <th scope="col">Role</th>
                                                                <th scope="col">Is Add</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                int i = 0;
                                                            }
                                                            @foreach (var item in Model.UserList)
                                                            {
                                                                var player = Model.GamePlayers.FirstOrDefault(x => x.UserId == int.Parse(item.Id));
                                                                bool isAdded = player != null && player.RoleId.HasValue;
                                                                <tr id="tr_@item.Id">
                                                                    <td>
                                                                        @(i+1)

                                                                        @if (isAdded)
                                                                        {
                                                                            <input type="hidden" name="GamePlayers[@i].id" value="@player.Id" />
                                                                        }
                                                                    </td>

                                                                    <td>
                                                                        <input type="hidden" name="GamePlayers[@i].UserId" value="@item.Id" />
                                                                        @item.Name
                                                                    </td>

                                                                    <td>
                                                                        <input type="hidden" name="GamePlayers[@i].TypeId" value="@item.Additional" />
                                                                        @(((Aaina.Common.PlayersType)int.Parse(item.Additional)).ToString())
                                                                    </td>
                                                                    <td>
                                                                        @if (isAdded)
                                                                        {
                                                                            <select name="GamePlayers[@i].roleId" data-user="@item.Id" class="form-control roledrop">
                                                                                <option value="">Select</option>
                                                                                @foreach (var role in Model.RoleList)
                                                                                {
                                                                                    if (player.RoleId == int.Parse(role.Id))
                                                                                    {
                                                                                        <option value="@role.Id" selected>@role.Name</option>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <option value="@role.Id">@role.Name</option>
                                                                                    }

                                                                                }
                                                                            </select>
                                                                        }
                                                                        else
                                                                        {
                                                                            <select name="GamePlayers[@i].roleId" data-user="@item.Id" class="form-control roledrop ignore" asp-items="@(new SelectList(Model.RoleList,"Id","Name"))"> <option value="">Select</option> </select>
                                                                        }


                                                                    </td>

                                                                    <td>
                                                                        @if (isAdded)
                                                                        {
                                                                            <input type="checkbox" name="GamePlayers[@i].IsAdded" data-username="@item.Name" checked data-user="@item.Id" class="added" value="true" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="checkbox" name="GamePlayers[@i].IsAdded" data-username="@item.Name" data-user="@item.Id" class="added" value="false" />
                                                                        }

                                                                    </td>

                                                                </tr>
                                                                i++;
                                                            }

                                                        </tbody>
                                                    </table>

                                                    <a href="/admin/user/Register" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-add-edit-user" class="btn btn-warning fright wauto">Add User</a>
                                                </div>
                                            
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="step1 sele-r-right" style="overflow:auto;">
                                                    <div id="playerorgChart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-Rbox1 botdiv">
                <div class="top-Rbtn">

                    <a href="javascript:void(0);" class="btn btn-secondary backBtn">Back</a>
                    @if (CurrentMenuPermission.IsAdd || CurrentMenuPermission.IsEdit)
                    {
                        <button class="btn btn-primary btn-submit" id="btn-submit" type="submit">Submit</button>
                    }
                    <a href="javascript:void(0);" class="btn btn-primary nextBtn">Next</a>
                </div>
            </div>
        </div>

    </form>
</div>

@Html.Partial("_Modal", new Modal { ID = "modal-add-edit-user", AreaLabeledId = "modal-add-edit-user-label", Size = ModalSize.Medium })
@Html.Partial("_Modal", new Modal { ID = "modal-action-delete-game", AreaLabeledId = "modal-action-delete-game-label", Size = ModalSize.Small })
@section scripts{
    <script src="~/plugins/Org-Chart/jquery.orgchart.js" asp-append-version="true"></script>
    <script src="~/js/Customejs/Game/GameAddEdit.js" asp-append-version="true"></script>
}
