
@using Aaina.Common;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Index";
    int tenant = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.RouteValues["tenant"]);
}


<script>
    function set(value) {
        return value;
    }
    var tenant = '@ViewBag.ListingStatusList' == null ? "" : set(@Html.Raw(tenant));
    var playersTypeListArr = set(@Html.Raw(JsonConvert.SerializeObject(Enum.GetValues(typeof(PlayersType)).Cast<PlayersType>().Select(c => new SelectListItem() { Text = c.ToString(), Value = ((int)c).ToString() }).ToList())));
</script>



<div class="top-Rbox1">
    <div class="top-Ltext">
        <div class="overlap"></div>
        <a href="javascript:void(0);" class="naleftbtn"><span></span></a>
        <div class="top-Ltextli">
            <ul>
                <li>Player Library</li>
            </ul>
            <p>@DateTime.Now.ToString("dd MMMM") '@DateTime.Now.Year</p>
        </div>
    </div>
    <div class="top-Rbtn">
        @if (CurrentMenuPermission.IsAdd)
        {
            <a href="/@tenant/user/Add" class="btn btn btn-primary add"><i class="fa fa-plus"></i> Add New</a>
        }
        <a href="/@tenant/Common/ShareUsers/?popupurl=/@tenant/user/Share/?id=@CurrentUser.CompanyId" class="btn btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modal-share-users">Share</a>
        @Html.Partial("_Modal", new Modal { ID = "modal-share-users", AreaLabeledId = "modal-share-users-label", Size = ModalSize.Large })

    </div>
</div>


<div class="middlebox">
    <div class="tablediv">
        <div class='table-cont' id='table-cont'>
            @this.Html.Partial("_DataTableGrid")
        </div>
    </div>    
</div>
@section scripts{
    <script src="~/js/Customejs/User/Index.js">
      

    </script>

}